[submodule "cpp"]
	path = cpp
	url = https://github.com/faasm/cpp.git
[submodule "lammps"]
	path = lammps
	url = https://github.com/faasm/lammps.git
	branch = faasm
[submodule "python"]
	path = python
	url = https://github.com/faasm/python.git
[submodule "examples/lammps"]
	path = examples/lammps
	url = https://github.com/faasm/lammps
	branch = faasm
