name: Release

# This file is very verbose, but things have to be split into separate jobs to
# allow them to run in parallel. There seems to be no way to share the Docker
# build context between jobs, so the Docker set-up has to be copied in each one.

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  clean:
    runs-on: ubuntu-latest
    steps:
      - name: "Prune docker"
        run: "docker system prune -f --all"

  build-images:
    needs: clean
    runs-on: ubuntu-latest
    steps:
      - name: "Get the code"
        uses: actions/checkout@v3
      - name: "Set version variables"
        run: |
          FAASM_VER=$(cat FAASM_VERSION)
          CPP_VER=$(cat cpp/VERSION)
          PYTHON_VER=$(cat python/VERSION)
          echo "FAASM_VERSION=$FAASM_VER" >> $GITHUB_ENV
          echo "CPP_VERSION=$CPP_VER" >> $GITHUB_ENV
          echo "PYTHON_VERSION=$PYTHON_VER" >> $GITHUB_ENV
          echo "EXAMPLES_VERSION=${CPP_VER}_${PYTHON_VER}" >> $GITHUB_ENV
      - name: "Set up QEMU"
        uses: docker/setup-qemu-action@v2
      - name: "Set up Docker Buildx"
        uses: docker/setup-buildx-action@v2
      - name: "Log in to DockerHub"
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: "Build and push examples-build image"
        uses: docker/build-push-action@v3
        with:
          push: true
          file: docker/${{ matrix.image }}.dockerfile
          build-args: |
            CPP_VERSION=${{ env.CPP_VERSION }}
            EXAMPLES_VERSION=${{ env.EXAMPLES_VERSION }}
            PYTHON_VERSION=${{ env.PYTHON_VERSION }}
          context: .
          tags: faasm/examples-build:${{ env.EXAMPLES_VERSION }}
      - name: "Build and push examples-run image"
        uses: docker/build-push-action@v3
        with:
          push: true
          file: docker/${{ matrix.image }}.dockerfile
          build-args: |
            EXAMPLES_VERSION=${{ env.EXAMPLES_VERSION }}
            FAASM_VERSION=${{ env.FAASM_VERSION }}
          context: .
          tags: faasm/examples-run:${{ env.FAASM_VERSION }}
